@charset "utf-8";

body{
    text-align: center;
}
.wrapper{
    text-align: left;
}
.ui-container{
	width: expression(document.body.clientWidth < 573 ? "573px" : "auto");
}
.ui-box-list a{
    width: 47%;
}